.FileNamePrompt {
    width: 80%;
    display: block;
    padding: 0 5%;
}

.FileNamePrompt .prevNamesList {
    text-align: center;
    padding: 10px 10px ;
}

.FileNamePrompt .prevName {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin: 2px;
    padding: 1px 4px;
}

.FileNamePrompt .nameInput {
    width: 90%;
}

.FileNamePrompt .downloadBtn {
    margin: 10px;
    background-color: steelblue;
    color: white;
}
