.Toolbar {
    margin: 50px auto;
    width: 530px;
    background: var(--viewBgColor);
    border: 1px solid var(--toolbarBorderColor);
    border-radius: 5px;
    padding: 5px 0 10px 0;
    text-align: center;
}

.Toolbar > div {
    display: inline-block;
    margin: 0 20px;
}

.Toolbar button,
.Toolbar input,
.Toolbar select {
    margin: 10px 8px;
    padding: 5px 7px;
    font-size: 0.9em;
}
